<?xml version="1.0" encoding="utf-8"?>
<module>
    <name>DO panel</name>
    <version>101</version>
    <defaultcat>Server Admin</defaultcat>
    <desc>Manage you Droplets</desc>
    <authorname>Diablo925</authorname>
    <authoremail>carsten@alio.dk</authoremail>
    <authorurl>http://Alio.dk/</authorurl>
    <updateurl></updateurl>
</module>